<div>
    <h2>{{pokemon.id}}. {{pokemon.name}}</h2>

    <div>
        <img src={{pokemon.frontImage}}>
        <img src={{pokemon.backImage}}>
    </div>

    <div>
        <div *ngFor="let pokemonType of pokemon.types">
            <h3 *ngIf="pokemonType" [ngClass]="'detail-type detail-type-'+pokemonType">{{pokemonType}}</h3>
        </div>
    </div>
</div>

<div>
    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="userRegisterForm">
        <fieldset>
            <label for="name">Nombre del Pokémon:</label>
            <input type="text" id="name" formControlName="name"/>
            <div *ngIf="!userRegisterForm.get('name').valid &&
                  (userRegisterForm.get('name').dirty || submitted)">
                Nombre no válido.
            </div>
        </fieldset>
        <fieldset>
            <label for="frontImage">URL de la imagen frontal del Pokémon:</label>
            <input type="text" id="frontImage" formControlName="frontImage" />
                <!-- Si el campo frontImage es invalido / ha sido tocado / submitted = true -->
            <div *ngIf="!userRegisterForm.get('frontImage').valid &&
                (userRegisterForm.get('frontImage').dirty || submitted)">
                Url de imágen no válida.
            </div>
        </fieldset>	

        <fieldset>
            <label for="backImage">URL de la imagen trasera del Pokémon:</label>
            <input type="text" id="backImage" formControlName="backImage" />
                <!-- Si el campo backImage es invalido / ha sido tocado / submitted = true -->
            <div *ngIf="!userRegisterForm.get('backImage').valid &&
                (userRegisterForm.get('backImage').dirty || submitted)">
                Url de imágen no válida.
            </div>
        </fieldset>	

        <fieldset>
            <label for="firstType">Primer tipo del Pokémon:</label>
            <select name="firstType" formControlName="firstType">
                <option [value]="type" *ngFor="let type of firstTypeList">{{type}}</option>
            </select>
            <div *ngIf="!userRegisterForm.get('firstType').valid &&
            (userRegisterForm.get('firstType').dirty || submitted)">
            Tipo no válido.
            </div>
        </fieldset>

        <fieldset>
            <label for="secondType">Segundo tipo del Pokémon:</label>
            <select name="secondType" formControlName="secondType">
                <option [value]="type" *ngFor="let type of secondTypeList">{{type}}</option>
            </select>
            <div *ngIf="!userRegisterForm.get('secondType').valid &&
            (userRegisterForm.get('firstType').dirty || submitted)">
            Tipo no válido distinto al primero.
            </div>
        </fieldset>

        <div>
            <button (click)="deletePokemon()">Delete</button>
            <button type="submit" [disabled]="!userRegisterForm.valid">Update</button>
        </div>

    </form>
</div>
