<h2 translate>form.title</h2>

<form novalidate (ngSubmit)="onSubmit()" [formGroup]="userRegisterForm">
    <fieldset class="pokemon-created">
        <label for="name" translate>form.name </label>
        <input type="text" id="name" formControlName="name" />
        <div *ngIf="!userRegisterForm.get('name').valid &&
        (userRegisterForm.get('name').dirty || submitted)" translate>
        form.error.name
        </div>
    </fieldset>
    
    <fieldset class="pokemon-created">
        <label for="frontImage" translate>form.front-url </label>
        <input type="text" id="frontImage" formControlName="frontImage" />
        <div *ngIf="!userRegisterForm.get('frontImage').valid &&
        (userRegisterForm.get('frontImage').dirty || submitted)" translate>
        form.error.url
        </div>
    </fieldset>

    <fieldset class="pokemon-created">
        <label for="backImage" translate>form.back-url </label>
        <input type="text" id="backImage" formControlName="backImage" />
        <div *ngIf="!userRegisterForm.get('backImage').valid &&
        (userRegisterForm.get('backImage').dirty || submitted)" translate>
        form.error.url
        </div>
    </fieldset>

    <fieldset class="pokemon-created">
        <label for="firstType" translate>form.first-type </label>
        <select name="firstType" formControlName="firstType">
            <option [value]="type" *ngFor="let type of firstTypeList">{{type}}</option>
        </select>
        <div *ngIf="!userRegisterForm.get('firstType').valid &&
        (userRegisterForm.get('firstType').dirty || submitted)" translate>
        form.error.first-type
        </div>
    </fieldset>

    <fieldset class="pokemon-created">
        <label for="secondType" translate>form.second-type </label>
        <select name="secondType" formControlName="secondType">
            <option [value]="type" *ngFor="let type of secondTypeList">{{type}}</option>
        </select>
        <div *ngIf="!userRegisterForm.get('secondType').valid &&
        (userRegisterForm.get('firstType').dirty || submitted)" translate>
        form.error.second-type
        </div>
    </fieldset>

    <button type="submit" [disabled]="!userRegisterForm.valid">Update</button>
</form>

<div class="firstView">
    <app-pokemon-created-list></app-pokemon-created-list>
</div>
<ng-container #vc></ng-container>
<ng-template #tpl>
    <app-pokemon-created-list></app-pokemon-created-list>
</ng-template>