.nav-bar {
        width: 100%;
        background: #ff7e05;

        & nav{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            justify-content: space-around;
        }

        & h2 {
            padding-top: 40px;
            color: black;
            text-decoration: none;
        }
    
        &__logo {
            height: 40px;
    
            @media (min-width: 576px) and (max-width: 768px) {
                height: 54px;
            }
    
            @media (min-width: 768px) and (max-width: 992px) {
                height: 64px;
            }
    
            @media (min-width: 992px) and (max-width: 1200) {
                height: 83px;
            }
    
            @media (min-width: 1200px) {
                height: 100px;
            }
        }
    
        &__button-list {
            margin-top: 10px;
            height: 50px;
        }
}

.languages {
    .spanish {

        & img {
            height: 20px;
            width: 30px;
        }
    }
    .english {

        & img {
            height: 20px;
            width: 30px;
        }
    }
}