<div class="list">
    <h1 translate>list.search</h1>
    <input type="text" [(ngModel)]="filter" (ngModelChange)="onChangeFilter($event)" />

    <div *ngIf="filter">
      <div *ngIf="pokemonFilteredList">
        <h1 translate>list.pokemon-list</h1>
        <div *ngFor="let pokemon of pokemonFilteredList">
          <app-pokemon-listed [pokemonParent]="pokemon"></app-pokemon-listed>
        </div>
      </div>
    </div>

    <div *ngIf="!filter">
      <div *ngIf="PokemonResponseInterface.results">
        <h1 translate>list.pokemon-list</h1>
        <div *ngFor="let pokemon of PokemonResponseInterface.results">
          <app-pokemon-listed [pokemonParent]="pokemon"></app-pokemon-listed>
        </div>
      </div>
    </div>
  </div>