<div class="footer">
    <a href="https://www.facebook.com/PokemonOficialES">
        <img class="footer__social-media-logo" src="../../assets/Facebook_logo.svg" alt="Pokemon logo" >
      </a>
      <a href="https://www.instagram.com/PokemonESP">
        <img class="footer__social-media-logo" src="../../assets/Instagram_logo.svg" alt="Pokemon logo" >
      </a>
      <a href="https://twitter.com/Pokemon_ES_ESP">
        <img class="footer__social-media-logo" src="../../assets/Twitter_logo.svg" alt="Pokemon logo" >
      </a>
      <a href="https://www.youtube.com/user/PokemonOficialES">
        <img class="footer__social-media-logo" src="../../assets/YouTube_logo.svg" alt="Pokemon logo" >
      </a>
    <a [routerLink]="['about']">
        <p> About us</p>
    </a>
</div>
